<section>
  <header>
    <div class="actions">
      <cs-actions></cs-actions>
    </div>
    <div class="sorting">
      <cs-sorting [sortParams]="sortParams$ | async" (sortParamsChange)="onSortParamsUpdate($event)"></cs-sorting>
    </div>
  </header>

  <main>
    <div class="photo" *ngFor="let photo of filteredPhotos$ | async; trackBy: trackFn">
      <div class="selection" [class.active]="false">
        <mat-icon class="selection-icon">check_circle</mat-icon>
      </div>
      <cs-photo [url]="photo.url" [name]="photo.name" [size]="photo.size" [dateTime]="photo.lastModifiedDate"></cs-photo>
    </div>
  </main>
</section>

<ng-template #storagePortalTemplate>
  <cs-storage [used]="usedStorageSize$ | async" [total]="totalStorageSize$ | async"></cs-storage>
</ng-template>
