<cs-page-header [title]="pageTitle"></cs-page-header>

<section>
  <header>
    <div class="actions">
      <cs-actions></cs-actions>
    </div>
    <div class="sorting">
      <cs-sorting [sortParams]="sortParams$ | async" (sortParamsChange)="onSortParamsUpdate($event)"></cs-sorting>
    </div>
  </header>

  <main>
    <div class="photo" *ngFor="let photo of filteredPhotos$ | async; trackBy: trackFn">
      <cs-photo [url]="photo.url" [name]="photo.name" [size]="photo.size"></cs-photo>
    </div>
  </main>
</section>
