@import "~src/styles/utils";

section {
  header {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-grey;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }

    .actions, .sorting {
      align-self: center;
    }

    .sorting {
      @include media-breakpoint-up(md) {
        justify-self: flex-end;
      }
    }
  }

  main {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }

    .photo {
      cursor: pointer;
      border-radius: 3px;
      transition: background 0.2s ease-in-out;
      position: relative;

      &:hover {
        background: rgba($color-grey, 0.1);

        .selection {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
      }

      .selection {
        position: absolute;
        right: 16px;
        top: 16px;

        @include media-breakpoint-up(md) {
          transition: opacity 0.2s ease-in-out;

          &:not(.active) {
            opacity: 0;
            pointer-events: none;
          }
        }

        .selection-icon {
          color: $color-grey;
          transition: color 0.2s ease-in-out;
        }

        &.active, &:hover {
          .selection-icon {
            color: $color-dark;
          }
        }
      }
    }
  }
}
