@import "~src/styles/utils";

section {
  display: grid;
  grid-template-columns:  auto;
  grid-gap: 8px;

  @include media-breakpoint-up(md) {
    grid-template-columns: 3fr 1fr;
  }

  .search, .profile {
    justify-self: center;

    @include media-breakpoint-up(md) {
      align-self: center;

    }
  }

  .search {
    width: 100%;

    @include media-breakpoint-up(md) {
      justify-self: self-start;
    }
  }

  .profile {
    @include media-breakpoint-up(md) {
      justify-self: self-end;
    }
  }
}
