<section>
  <nav>
    <div class="items">
      <a routerLink="files" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="files" icon="text_snippet"></cs-sidenav-item>
        </div>
      </a>
    </div>
    <div class="items">
      <a routerLink="photos" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="photos" icon="insert_photo"></cs-sidenav-item>
        </div>
      </a>
    </div>
    <div class="items">
      <a routerLink="sharing" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="sharing" icon="share"></cs-sidenav-item>
        </div>
      </a>
    </div>
    <div class="items">
      <a routerLink="links" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="links" icon="text_snippet"></cs-sidenav-item>
        </div>
      </a>
    </div>
    <div class="items">
      <a routerLink="events" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="events" icon="event_note"></cs-sidenav-item>
        </div>
      </a>
    </div>
    <div class="items">
      <a routerLink="get-started" (click)="closeSideNav()">
        <div class="item" routerLinkActive="active">
          <cs-sidenav-item name="get started" icon="system_update_alt" badge="3"></cs-sidenav-item>
        </div>
      </a>
    </div>
  </nav>

  <div class="content">
    content
  </div>
</section>
