@import "~src/styles/utils";

section {
  padding: 16px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  header {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-grey;
  }

  main {
    margin-top: 16px;
    height: 100%;
    overflow: auto;
  }
}
