<section class="app">
  <aside [class.opened]="sidenavVisible$ | async">
    <div class="backdrop" (click)="closeSideNav()"></div>
    <div class="content">
      <header>
        <mat-icon class="menu item" (click)="toggleSideNav()">{{(sidenavVisible$ | async) ? 'close' : 'menu'}}</mat-icon>
        <a routerLink="/" class="logo logo" (click)="closeSideNav()">
          <img src="./assets/images/logo.svg" alt="logo">
        </a>
      </header>

      <section>
        <cs-sidenav></cs-sidenav>
      </section>
    </div>
  </aside>
  <section class="page">
    <header>
      <cs-header></cs-header>
    </header>

    <cs-page-header title="text"></cs-page-header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
</section>
