@import "~src/styles/utils";

section {
  color: $color-light;

  header {
    display: grid;
    grid-template-columns: auto 40px;
    grid-gap: 8px;
    align-items: center;
    margin-bottom: 8px;

    .info {
      text-transform: uppercase;
    }
  }
}
