section {
  display: flex;
  align-items: center;

  .action {
    margin-left: 8px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
